/* Importamos Tailwind v4 */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* 1. Definimos las variables puras (Permite cambiar temas f치cil en el futuro) */
:root {
  /* Brand (Amarillo Pinca) */
  --brand-primary: #FBBF24;
  --brand-hover: #F59E0B;
  --brand-active: #D97706;
  --brand-subtle: color-mix(in srgb, var(--brand-primary) 20%, transparent);

  /* Superficies (Light Mode por defecto) */
  --surface-base: #FFFFFF;
  --surface: #FAFAFA;
  --surface-hover: #F4F4F5;
  --surface-sidebar: #09090B;
  --surface-sidebar-hover: #18181B;
  --surface-main: #EBEBEB; 
  
  /* Texto */
  --content-primary: #09090B;
  --content-secondary: #52525B;
  --content-muted: #A1A1AA;
  --content-inverse: #000000;

  /* Bordes */
  --border-base: #E4E4E7;
  
  /* Sem치ntica */
  --semantic-success: #10B981;
  --semantic-danger: #EF4444;
}

/* 2. Le inyectamos las variables al motor de Tailwind v4 */
@theme {
  /* Al usar el prefijo --color-, Tailwind crea autom치ticamente las clases de texto, fondos, bordes, etc. */
  --color-brand-primary: var(--brand-primary);
  --color-brand-hover: var(--brand-hover);
  --color-brand-active: var(--brand-active);
  --color-brand-subtle: var(--brand-subtle);

  --color-surface-base: var(--surface-base);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-surface-sidebar: var(--surface-sidebar);
  --color-surface-sidebar-hover: var(--surface-sidebar-hover);
  --color-surface-main: var(--surface-main);

  --color-content-primary: var(--content-primary);
  --color-content-secondary: var(--content-secondary);
  --color-content-muted: var(--content-muted);
  --color-content-inverse: var(--content-inverse); /* Para texto sobre el bot칩n amarillo */

  --color-border-base: var(--border-base);

  --color-semantic-success: var(--semantic-success);
  --color-semantic-danger: var(--semantic-danger);

  /* Radios personalizados */
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
}

button {
  cursor: pointer;
}